MONGO_HOST=localhost
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=sjdstgbjk2235465
MONGO_PORT=27017
MYSQL_DATABASE=xin
MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=3dfjklhbglk496793845679
MYSQL_TCP_PORT=3306
POSTGRESQL_HOST=localhost
POSTGRES_PASSWORD=kdfhg9486ydkjlhn548
POSTGRESQL_PORT=5432
PGUSER=postgres
POSTGRES_DB=postgres
SQLSERVER_HOST=localhost
SA_PASSWORD="AStrongP@sswordWithNumbersAnd5ymb0ls"
SQLSERVER_PORT=1433
SQLSERVER_USER=sa
ACCEPT_EULA=Y
